$pinkFill: #f2a39e;
$blueBorder: #007788;

body {
}

header.navbar {
  background-color: $pinkFill;
  border-bottom: solid 1px $blueBorder;
}

#thumbnail-container {
  background-color: #fffAff;
  padding-top: 15px;
}