<!DOCTYPE html>
<html>
    <head>
        <title>Secret Mates</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerfoundation/css/foundation.min.css') }}" />
        {% stylesheets '@SMChatBundle/Resources/assets/sass/layout.scss' filter="compass"  output='css/*.css'%}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    </head>
    <body>
        {% include 'SMChatBundle:layout:header.html.twig' %}
        {% block body %}{% endblock %}
    </body>
</html>