Give us yo money bitch!

<form action="{{ path('sm_chat.create_stripe_customer') }}" method="POST">
    <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_Rptuzj2xtepjJdV80jd3p58I"
            data-amount="2000"
            data-name="Demo Site"
            data-description="2 widgets ($20.00)"
            data-image="/128x128.png">
    </script>
</form>