{% extends 'SMChatBundle:layout:layout.html.twig' %}

{% block body %}
    <ul>
    <h2>Active Users</h2>
    {% for chat_session in active_chat_sessions %}
        <li>{{ chat_session.viewerId.username }}</li>
    {% endfor %}
    </ul>
    <button>Start Show</button>
    <button>Take Break</button>
    <button>Mute</button>

    <h3>Room Topic</h3>
    <textarea></textarea>
{% endblock %}